<div class="unlock-coupon-card">
    <h4 class="unlock-heading"><img src="https://media.farziengineer.co/farziwallet/voucher-icon.png" />
        <p class="heading-text">Redeem . Coins</p>
    </h4>
    <h5 class="unlock-title">Use . Coins to create a Discount Coupon</h5>
    <p class="unlock-desc" style="text-align: center;">10 . Coins for ₹10 off</p>
    <div class="unlock-button-container">
        <input style="margin-bottom: 22px; width: 80%; cursor: pointer;" type="range" id="fw-redeem-ob-range"
            name="redeem-ob-range" min="0" max="100" step="1" value="10">
        <button class="unlock-button">Redeem . coins</button>
    </div>
</div>