<div>
    <div class="top-head">
        <div class="top-head-tabs">
            <p class="active-tab" id="available-coupons-screen">Available</p>
            <!-- <p id="your-coupons-screen">Your Coupons</p> -->
        </div>
        <div class="top-head-points">
            <span class="coins-icon"></span>
            <p class="points-wrapper">0</p>
        </div>
    </div>
    <div class="spinWheels">
        <div class="cardContainer cardRow">
            <div class="gameArenacard">
                <img src="https://media.farziengineer.co/farziwallet/spin-wheel.png" />
                <div class="gameArenaDesc">
                    <p class="gameArenaDesc-title">Spin and Win</p>
                    <p class="gameArenaDesc-subtitle">Win upto 50 . Coins</p>
                    <div class="gameArenaDescValue"><span class="coins-icon"></span>
                        <p>10</p>
                    </div>
                    <div class="gameArenaBtn">Spin</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay_modal">
</div>