<div>
    <div class="top-head">
        <div class="top-head-tabs">
            <p class="active-tab" id="available-coupons-screen">Available</p>
            <p id="your-coupons-screen">Your Coupons</p>
        </div>
        <div class="top-head-points">
            <span class="coins-icon"></span><p>0</p>
        </div>
    </div>
    <div class="couponCodes">
        <div class="cardContainer">
            <div class="rowHead">
                <p>Featured Coupons</p>
            </div>
        </div>
        <div class="cardContainer cardRow">
            <div class="card" data-coupon-amount="10">
                <img data-coupon-amount="10"
                    src="https://earthrhythm-media.farziengineer.co/hosted/image_5-7cbffafb6727.png" />
                <div data-coupon-amount="10" class="couponDesc">
                    <p data-coupon-amount="10" class="couponDesc-text">Rs. 10 off on Striped Silk Blouse</p>
                    <div data-coupon-amount="10" class="couponValue"><span class="coins-icon"></span>
                        <p>10</p>
                    </div>
                    <div data-coupon-amount="10" class="floating-label">₹ 10</div>
                </div>
            </div>
            <div class="card" data-coupon-amount="30">
                <img data-coupon-amount="30"
                    src="https://earthrhythm-media.farziengineer.co/hosted/image_5-7cbffafb6727.png" />
                <div data-coupon-amount="30" class="couponDesc">
                    <p data-coupon-amount="30" class="couponDesc-text">Rs. 30 off on Striped Silk Blouse</p>
                    <div data-coupon-amount="30" class="couponValue"><span class="coins-icon"></span>
                        <p>30</p>
                    </div>
                    <div data-coupon-amount="30" class="floating-label">₹ 30</div>
                </div>
            </div>
            <div class="card" data-coupon-amount="30">
                <img data-coupon-amount="30"
                    src="https://earthrhythm-media.farziengineer.co/hosted/image_5-7cbffafb6727.png" />
                <div data-coupon-amount="30" class="couponDesc">
                    <p data-coupon-amount="30" class="couponDesc-text">Rs. 30 off on Striped Silk Blouse</p>
                    <div data-coupon-amount="30" class="couponValue"><span class="coins-icon"></span>
                        <p>30</p>
                    </div>
                    <div data-coupon-amount="30" class="floating-label">₹ 30</div>
                </div>
            </div>
        </div>
    </div>

</div>