<div>
    <div class="top-head">
        <div class="top-head-tabs">
            <p class="active-tab" id="available-coupons-screen">Available</p>
            <p id="your-coupons-screen">Your Coupons</p>
        </div>
        <div class="top-head-points">
            <span class="coins-icon"></span>
            <p class="points-wrapper">0</p>
        </div>
    </div>
    <div class="couponCodes">
        <div class="cardContainer">
            <div class="rowHead">
                <p>Featured Coupons</p>
            </div>
        </div>
        <div class="cardContainer cardRow">
            <!-- <div class="card" data-coupon-amount="10">
                <img data-coupon-amount="10"
                    src="https://earthrhythm-media.farziengineer.co/hosted/image_5-7cbffafb6727.png" />
                <div data-coupon-amount="10" class="couponDesc">
                    <p data-coupon-amount="10" class="couponDesc-text">Rs. 10 off on Striped Silk Blouse</p>
                    <div data-coupon-amount="10" class="couponValue"><span class="coins-icon"></span>
                        <p>10</p>
                    </div>
                    <div data-coupon-amount="10" class="floating-label">₹ 10</div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="redeemCustomCoins">
        <div class="cardContainer">
            <div class="rowHead">
                <p>Redeem . Coins</p>
            </div>
        </div>
        <div class="cardContainer cardRow">
            <div class="redeemCustomCoinsCard">
                <div><img class="redeemCustomCoinsImg"
                        src="https://media.farziengineer.co/farziwallet/voucher-icon.png" /></div>
                <div class="redeemCustomCoinsText">
                    <h5>100 . Coins = ₹100</h5>
                    <p>Use . Coins to create a custom discount coupon</p>
                </div>
                <div><img class="redeemCustomArrow" src="https://media.farziengineer.co/farziwallet/arrow.png" /></div>
            </div>
        </div>
    </div>

    <div class="redeemCoins">
        <!-- <div class="cardContainer">
            <div class="rowHead">
                <p>Coupons to Explore</p>
            </div>
        </div>
        <div class="cardContainer cardRow">
            <div class="redeemCoinsCard">
                <div class="redeemCoinsImg"><img src="https://media.farziengineer.co/farziwallet/free-shipping.png" />
                </div>
                <div class="redeemCoinsText">
                    <h5>Free Delivery</h5>
                    <p>Unlock for <span class="coins-icon"></span> 10</p>
                </div>
            </div>
        </div> -->
        <!-- <div class="cardContainer cardRow">
            <div class="redeemCoinsCard">
                <div class="redeemCoinsImg"><img
                        src="https://media.farziengineer.co/farziwallet/500-voucher.png" /></div>
                <div class="redeemCoinsText">
                    <h5>Shopping Voucher worth Rs. 500</h5>
                    <p>Unlock for <span class="coins-icon"></span> 10</p>
                </div>
            </div>
        </div> -->
    </div>

</div>
<div class="overlay_modal">
</div>