<div class="card" data-coupon-amount="10">
    <img data-coupon-amount="10"
        src="https://earthrhythm-media.farziengineer.co/hosted/image_5-7cbffafb6727.png" />
    <div data-coupon-amount="10" class="couponDesc">
        <p data-coupon-amount="10" class="couponDesc-text">Rs. 10 off on Striped Silk Blouse</p>
        <div data-coupon-amount="10" class="couponValue"><span class="coins-icon"></span>
            <p>10</p>
        </div>
        <div data-coupon-amount="10" class="floating-label">₹ 10</div>
    </div>
</div>