<div class="unlock-coupon-card invite-and-earn-popup">
    <h4 class="unlock-heading"><img src="https://earthrhythm-media.farziengineer.co/hosted/image_27-c417998b56b9.png" />
        <p class="heading-text">Invite & Earn</p>
    </h4>
    <!-- <h5 class="unlock-title">Rs. 10 off on Striped Silk Blouse</h5> -->
    <p class="unlock-desc invite-and-earn">Every time you successfully refer friend.
        You get 200 OB Coins & they get 100 OB Coins</p>
    <div class="unlock-button-container">
        <div class="small-subtext">copy referral code</div>
        <div class="revealed-code">
            <p></p><img src="https://earthrhythm-media.farziengineer.co/hosted/Vector-d42544500181.png" />
            <p class="copied-alert">copied</p>
        </div>
    </div>
    <hr />

    <div class="small-subtext">or share with</div>
    <div class="invite-and-earn-socials-container">
        <div><img src="https://earthrhythm-media.farziengineer.co/hosted/tabler_message-circle-2-79c9edc70744.png" />
        </div>
        <div><img src="https://earthrhythm-media.farziengineer.co/hosted/ri_facebook-fill-6a09584cb938.png" /></div>
        <div><img src="https://earthrhythm-media.farziengineer.co/hosted/ic_baseline-whatsapp-eec13f02d2e0.png" /></div>
        <div><img
                src="https://earthrhythm-media.farziengineer.co/hosted/material-symbols_ios-share-rounded-7c955c559570.png" />
        </div>

    </div>

</div>