<div class="unlock-coupon-card invite-and-earn-popup">
    <h4 class="unlock-heading"><img src="https://media.farziengineer.co/farziwallet/invite-earn.png" />
        <p class="heading-text">Invite & Earn</p>
    </h4>
    <!-- <h5 class="unlock-title">Rs. 10 off on Striped Silk Blouse</h5> -->
    <p class="unlock-desc invite-and-earn">Every time you successfully refer friend.
        You get 200 OB Coins & they get 100 OB Coins</p>
    <div class="unlock-button-container">
        <div class="small-subtext">copy referral code</div>
        <div class="revealed-code">
            <p></p><img src="https://media.farziengineer.co/farziwallet/copy-icon.png" />
            <p class="copied-alert">copied</p>
        </div>
    </div>
    <hr />

    <div class="small-subtext">or share with</div>
    <div class="invite-and-earn-socials-container">
        <div><img src="https://media.farziengineer.co/farziwallet/sms.png" />
        </div>
        <div><img src="https://media.farziengineer.co/farziwallet/facebook-icon.png" /></div>
        <div><img src="https://media.farziengineer.co/farziwallet/whatsapp-icon.png" /></div>
        <div><img
                src="https://media.farziengineer.co/farziwallet/share-icon.png" />
        </div>

    </div>

</div>