<div class="unlock-coupon-card invite-and-earn-popup">
    <h4 class="unlock-heading"><img src="https://media.farziengineer.co/farziwallet/invite-earn.png" />
        <p class="heading-text">Invite & Earn</p>
    </h4>
    <!-- <h5 class="unlock-title">Rs. 10 off on Striped Silk Blouse</h5> -->
    <p class="unlock-desc invite-and-earn">Every time you successfully refer friend.
        You get 200 OB Coins & they get 100 OB Coins</p>
    <div class="unlock-button-container">
        <div class="small-subtext">copy referral link</div>
        <div class="revealed-code">
            <p></p><img src="https://media.farziengineer.co/farziwallet/copy-icon.png" />
            <p class="copied-alert">copied</p>
        </div>
    </div>
    <hr />

    <div class="small-subtext">or share with</div>
    <div class="invite-and-earn-socials-container">
        <!-- <a
            href="sms://18005555555/?body=Click on the referral link below and get rewarded with 100 OB Coins. https://gaurav.farziengineer.co/account/register?fc_refer_hash=1f2a73">
            <div class="socials-refer-icon">
                <img src="https://media.farziengineer.co/farziwallet/sms.png" />
            </div>
        </a>

        <a
            href="https://www.facebook.com/sharer/sharer.php/?u=https%3A%2F%2Fgaurav.farziengineer.co%2Faccount%2Fregister%3Ffc_refer_hash%3D1f2a73">
            <div class="socials-refer-icon">
                <img src="https://media.farziengineer.co/farziwallet/facebook-icon.png" />
            </div>
        </a>

        <a
            href="https://api.whatsapp.com/send?text=Click on the referral link below and get rewarded with 100 OB Coins. https://gaurav.farziengineer.co/account/register?fc_refer_hash=1f2a73">
            <div class="socials-refer-icon">
                <img src="https://media.farziengineer.co/farziwallet/whatsapp-icon.png" />
            </div>
        </a>

        <a
            href="sms://18005555555/?body=Click on the referral link below and get rewarded with 100 OB Coins. https://gaurav.farziengineer.co/account/register?fc_refer_hash=1f2a73">
            <div class="socials-refer-icon">
                <img src="https://media.farziengineer.co/farziwallet/share-icon.png" />
            </div>
        </a> -->

    </div>

</div>