<div class="header">
    <img id="header-close" class="close"
        src="https://media.farziengineer.co/farziwallet/cross.png" alt="close header"
        width="30px">
    <div class="">
        <h1 class="heading">Welcome to</h1>
        <p>Loyalty</p>
    </div>
</div>
<div class="content">
    <div class="cardWrapper points">
        <div class="dropDown">
            <div class="dropDown__content">
                <div>
                    <p class="logged-in-screen-text">My . Coins </p>
                    <p class="tier"><span class="user-tier-icon"></span>Silver </p>
                </div>
            </div>
            <div class="pointsBox">
                <span></span>
                <p class="walletAmount"></p>
            </div>
        </div>
    </div>
    <div class="couponCodes">
        <div class="cardContainer">
            <div class="rowHead">
                <p>Coupons</p>
                <div class="viewAllCoupons">View all</div>
            </div>
        </div>
        <div class="cardContainer cardRow">
            <!-- <div class="card" data-coupon-amount="10">
                <img data-coupon-amount="10"
                    src="https://earthrhythm-media.farziengineer.co/hosted/image_5-7cbffafb6727.png" />
                <div data-coupon-amount="10" class="couponDesc">
                    <p data-coupon-amount="10" class="couponDesc-text">Rs. 10 off on Striped Silk Blouse</p>
                    <div data-coupon-amount="10" class="couponValue"><span class="coins-icon"></span>
                        <p>10</p>
                    </div>
                    <div data-coupon-amount="10" class="floating-label">₹ 10</div>
                </div>
            </div> -->
        </div>
    </div>

    <div class="gameArena">
        <div class="cardContainer">
            <div class="rowHead">
                <p>Game Arena</p>
                <div class="subtext">Play games to win . coins, coupons & rewards</div>
            </div>
        </div>
        <div class="cardContainer cardRow">
            <div class="gameArenacard" id="gameArenacard-wheelOfFortune">
                <img src="https://media.farziengineer.co/farziwallet/spin-wheel.png" />
                <div class="gameArenaDesc">
                    <p class="gameArenaDesc-title">Wheel of Fortune</p>
                    <p class="gameArenaDesc-subtitle">Starts at</p>
                    <div class="gameArenaDescValue"><span class="coins-icon"></span>
                        <p>10</p>
                    </div>
                    <div class="gameArenaBtn">Explore</div>
                </div>
            </div>
            <div class="gameArenacard" id="gameArenacard-scratchCard">
                <img src="https://media.farziengineer.co/farziwallet/scratch-card.png" />
                <div class="gameArenaDesc">
                    <p class="gameArenaDesc-title">Scratch Card</p>
                    <p class="gameArenaDesc-subtitle">Starts at</p>
                    <div class="gameArenaDescValue"><span class="coins-icon"></span>
                        <p>10</p>
                    </div>
                    <div class="gameArenaBtn">Explore</div>
                </div>
            </div>
            <!-- <div class="gameArenacard" id="gameArenacard-lottery">
                <img src="https://media.farziengineer.co/farziwallet/lotto.png" />
                <div class="gameArenaDesc">
                    <p class="gameArenaDesc-title">Lottery</p>
                    <p class="gameArenaDesc-subtitle">Starts at</p>
                    <div class="gameArenaDescValue"><span class="coins-icon"></span>
                        <p>10</p>
                    </div>
                    <div class="gameArenaBtn">Explore</div>
                </div>
            </div> -->
        </div>
    </div>

    <div class="invite-friends-wrapper">
        <div class="invite-friends-container">
            <div class="invite-friends-img"><img
                    src="https://media.farziengineer.co/farziwallet/rupee-icon.png" />
            </div>
            <div class="invite-friends-text">
                <h4 class="invite-friends-title">Invite & Earn</h4>
                <p class="invite-friends-desc">Get 200 . coins every time you invite a friend to try loyalty</p>
            </div>
        </div>
        <div class="invite-friends-button"><button>Share Invite</button></div>

    </div>
</div>
<div class="overlay_modal">
</div>