<div class="header">
    <img id="header-close" class="close"
        src="https://earthrhythm-media.farziengineer.co/hosted/icons8-multiply-50-c78740eccab9.png" alt="close header"
        width="30px">
    <div class="">
        <h1 class="heading">Welcome to</h1>
        <p>One Loyalty</p>
    </div>
</div>
<div class="content">
    <div class="cardWrapper points">
        <div class="dropDown">
            <div class="dropDown__content">
                <div>
                    <p class="">My Reward OB Coins </p>
                    <p class="tier">Silver </p>
                </div>
            </div>
            <div class="pointsBox">
                <span></span>
                <p class="walletAmount"></p>
            </div>
        </div>
    </div>
    <div class="couponCodes">
        <div class="cardContainer">
            <div class="rowHead">
                <p>Coupons</p>
                <div class="viewAllCoupons">View all</div>
            </div>
        </div>
        <div class="cardContainer cardRow">
            <!-- <div class="card" data-coupon-amount="10">
                <img data-coupon-amount="10"
                    src="https://earthrhythm-media.farziengineer.co/hosted/image_5-7cbffafb6727.png" />
                <div data-coupon-amount="10" class="couponDesc">
                    <p data-coupon-amount="10" class="couponDesc-text">Rs. 10 off on Striped Silk Blouse</p>
                    <div data-coupon-amount="10" class="couponValue"><span class="coins-icon"></span>
                        <p>10</p>
                    </div>
                    <div data-coupon-amount="10" class="floating-label">₹ 10</div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<div class="overlay_modal">
</div>