<div class="header">
    <img id="header-close" class="close"
        src="https://earthrhythm-media.farziengineer.co/hosted/icons8-multiply-50-c78740eccab9.png" alt="close header"
        width="30px">
    <div class="">
        <h1 class="heading">Welcome to</h1>
        <p>Loyalty</p>
    </div>
</div>
<div class="content">
    <div class="cardWrapper points">
        <div class="dropDown">
            <div class="dropDown__content">
                <p class="">My points </p>
            </div>
            <div class="pointsBox">
                <p class="walletAmount"></p>
            </div>
        </div>
    </div>
    <div class="couponCodes">
        <div class="cardContainer">
            <div class="rowHead">
                <p>Coupons</p>
                <div>View all</div>
            </div>
        </div>
        <div class="cardContainer cardRow">
            <div class="card">
                Rs. 10 off on Striped Silk Blouse
                <div class="couponValue">10</div>
            </div>
            <div class="card">
                Rs. 30 off on Striped Silk Blouse
                <div class="couponValue">30</div>
            </div>
        </div>
    </div>
</div>
</div>