<div class="go-back-header">
    <h4 class="go-back-header-heading"><img class="close"
            src="https://earthrhythm-media.farziengineer.co/hosted/icons8-multiply-50-c78740eccab9.png"
            alt="close header" width="30px"></h4>
</div>
<div class="content">
    <div class="couponsScreenContainer playArea">
        <div class="top-head">
            <div class="top-head-points">
                <span class="coins-icon"></span>
                <p class="points-wrapper">0</p>
            </div>
        </div>
        <div class="spinWheelHeading">
            <h4>Spin and Win</h4>
        </div>

        <!--SPIN Wheel start-->
        <div id="fw-chart-spin-wheel"></div>

        <!-- <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->

        <style>
            #fw-chart-spin-wheel {
                width: 100%;
                height: auto;
                min-height: 100px;
                top: 0;
                left: 0;
                transform: rotate(-90deg);
            }
        </style>

        <!--SPIN Wheel end-->
    </div>
</div>