<div class="unlock-coupon-card">
    <h4 class="unlock-heading"><img src="https://earthrhythm-media.farziengineer.co/hosted/image_18-9d3e16ad8b72.png" />
        <p class="heading-text">₹ 10 Voucher</p>
    </h4>
    <h5 class="unlock-title">Rs. 10 off on Striped Silk Blouse</h5>
    <p class="unlock-desc">The management reserves the right to modify the coupon as they see fit and to adjust the customer's wallet if
        they determine the event.</p>
        <hr/>
    <div class="unlock-button-container">
        <div class="unlock-text">Unlock for 10 OB Coins</div>
        <button class="unlock-button">Tap to Unlock</button>
    </div>
</div>