<div class="unlock-coupon-card">
    <h4 class="unlock-heading">Rs. 10 off on Striped Silk Blouse</h4>
    <p>The management reserves the right to modify the coupon as they see fit and to adjust the customer's wallet if
        they determine the customer's information to be fraudulent. In the event of any disputes, the mall management's
        ruling will be considered to be authoritative and final.</p>

    <div class="unlock-button-container">
        <div class="unlock-text">Unlock for 10 points</div>
        <button class="unlock-button">Tap to Unlock</button>
    </div>
</div>