<div>
    <div class="top-head">
        <div class="top-head-tabs">
            <p class="active-tab" id="available-coupons-screen">Available</p>
            <p id="your-coupons-screen">Your Coupons</p>
        </div>
        <div class="top-head-points">
            <span class="coins-icon"></span>
            <p>0</p>
        </div>
    </div>
    <div class="couponCodes">
        <div class="cardContainer">
            <div class="tabHead">
                <div>Unlocked</div>
                <div>Redeemed</div>
                <div>Gifted</div>
            </div>
        </div>
    </div>

</div>