<div>
    <div class="top-head">
        <div class="top-head-tabs">
            <p class="active-tab" id="available-coupons-screen">Available</p>
            <p id="your-coupons-screen">Your Coupons</p>
        </div>
        <div class="top-head-points">
            <span class="coins-icon"></span>
            <p>0</p>
        </div>
    </div>
    <div class="couponCodes">
        <div class="cardContainer">
            <div class="tabHead">
                <div class="active-coupons-tab" id="coupon-tab-unlocked">Unlocked</div>
                <div id="coupon-tab-redeemed">Redeemed</div>
                <div id="coupon-tab-gifted">Gifted</div>
            </div>
        </div>
        <div class="cardContainer">
            <div class="couponsContent">
                <!-- <div class="couponsContentCard">
                    <div class="couponsContentImg">
                        <h5>₹10</h5>
                        <p>Voucher</p>
                    </div>
                    <div class="couponsContentText">
                        <h5>Rs. 10 off on Striped Silk Blouse</h5>
                        <p>code viewed on 2nd Jun, 2023</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

</div>